*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
header{
    display: flex; 
    justify-content: space-between; 
    margin: 120px; margin-top: 50px; margin-bottom: 0px;
}
.fwrs, .ovr, .ovr2{
    display: flex;
    justify-content: space-around;
    margin: 80px;
    flex-wrap: wrap;
}
.ovr2, .ovr{margin-top: 0px; margin-bottom: 40px;}
.fbk, .twr, .igm, .ytb{
    width: 20%;
    background-color: hsl(227, 47%, 96%);
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
}
.fbk{
    border-top: 5px solid hsl(195, 100%, 50%);
}
.twr{
    border-top: 5px solid hsl(203, 89%, 53%);
}
.igm{
    border-top: 5px solid hsl(329, 70%, 58%);
}
.ytb{border-top: 5px solid hsl(348, 97%, 39%);}
h2{font-size:80px; font-weight: bolder;} .num{color: hsl(163, 72%, 41%);} .num2{color: hsl(356, 69%, 56%);}
h5{letter-spacing: 5px; color: hsl(228, 12%, 44%);} .name{color: hsl(228, 12%, 44%);}
h1{margin-bottom: 0px; color: hsl(228, 12%, 44%);} p{color: hsl(228, 12%, 44%);}
.title{margin: 120px; margin-top: 50px; margin-bottom: 20px;}
.first, .second, .third, .fourth, .fifth, .sixth, .seventh, .eighth{
    display: flex; justify-content: space-between; background-color: hsl(227, 47%, 96%); width: 17%;
    line-height: 50px; border-radius: 5px; padding: 20px;}
h3{
    color: hsl(228, 12%, 44%); font-weight: bold;
}
n{font-size: 40px; font-weight: bolder;}
footer{padding: 10px; background-color: hsl(227, 47%, 96%);}

@media screen and (max-width: 700px){
    header{margin: 20px; margin-top: 50px;} h1{font-size: 26px;} .fbk, .twr, .igm, .ytb{width: 100%; margin-bottom: 20px;}
    .fwrs, .ovr, .ovr2{margin: 20px;}
    .title{font-size: 25px; margin: 50px; margin-top: 25px; margin-bottom: 0px;}
    .first, .second, .third, .fourth, .fifth, .sixth, .seventh, .eighth{width: 100%; padding: 10px; margin-bottom: 20px;}
}